* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    background-color: rgb(223, 247, 244);
    display: grid;
    grid-template-columns: repeat(3,[col-start]1fr[col-end]);
    grid-template-rows: [header-start]120px[header-end menu-start] 60px [menu-end box-start]100px[box-end content-start] 400px[content-end footer-start]50px[footer-end];
    grid-gap:15px;
}
.header{
background-color: red;
grid-row: header-start/header-end;
grid-column: col-start 1/ col-end 3;
}
.menu{
background-color: royalblue;
grid-row: menu-start/menu-end;
grid-column: col-start 1/ col-end 3;
}
.box1{
background-color: salmon;
grid-row: box-start/box-end;
}
.box2{
background-color: silver;
grid-row: box-start/box-end;
}

.sidebar{
background-color: slategray;
grid-row: box-start/content-end;

}
.content {
background-color: springgreen;
grid-row:  content-start/content-end;
grid-column: col-start 1/ col-end 2;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap:10px;
}
.content > div {
    background-color: yellow;
    padding: 10px;
}
.footer {
background-color: tan;
grid-row: footer-start/footer-end;
grid-column: col-start 1/ col-end 3;
}