 *{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.container { 
    width: 100%; 
}
header {
  padding: 10px;
  background-color: black;
}
nav {
  padding: 10px;
}
nav p {
  display: inline;
  font-size: 20px;
}
nav a {
  margin-left: 90%;
}
h2 {
  text-align: center;
}
.anchor {
  text-align: center;
  margin-bottom: 10px;
}
#form {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(192, 211, 229);
  opacity: 0.7;
}
form {
  margin: 0 auto;
}
#message_box{
  height: 250px;
}
input[type=text], select {
    width: 45%;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 40px;
    
  }
 
  input[type=text], textarea {
    width: 80%;
    padding: 12px;
    box-sizing: border-box;
  }
  input[type=submit] {
    margin-top: 17px;
    background-color: gray;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 25px;
  }

  #form .underline {
    text-decoration: underline;
    margin-left: 90px;
  }
  #submit_span {
    text-decoration: underline;
  }
  .formfield * {
    vertical-align: middle;
  }
  .number{
    margin-left: 70px;
  }
  .message_boxs
  {
    margin-left:30px;
  }
  .messages_container{
    border: 2px solid #f0d6d6;
    background-color: gray;
    padding: 15px;
    margin: 10px;
    width: 98%;
    text-align: center;
  }
  .chat_container {
    border: 2px solid #f0d6d6;
    background-color: lightcyan;
    padding: 15px;
    margin: 10px;
    width: 98%;
  }
  .second {
    
    border-color: #ccc;
    background-color: #ddd;
  }
  .day {
    color: #aaa;
  }
  .second_chat_screen {
    margin-left: 80%;
    color: #aaa;
  }
label {
  display: block;
}
#message{
margin-left: 10px;
}