 *{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.container { 
    width: 100%; 
}
header {
  padding: 10px;
  background-color: black;
}
nav {
  padding: 10px;
}
nav p {
  display: inline;
  font-size: 20px;
}
nav a {
  margin-left: 90%;
}
h2 {
  text-align: center;
}
.anchor {
  text-align: center;
  margin-bottom: 10px;
}
#form {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d4d1d1;
  opacity: 0.7;
  margin-bottom: 40px;
}
form {
  margin: 0 auto;
}
#message_box{
  height: 250px;
}
input[type=text], select {
    width: 45%;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 40px;
    
  }
 
  input[type=text], textarea {
    width: 80%;
    padding: 12px;
    box-sizing: border-box;
  }
  input[type=submit] {
    margin-top: 17px;
    background-color: #c0c0c0;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 25px;
  }

  #form .underline {
    text-decoration: underline;
    margin-left: 90px;
  }
  #submit_span {
    text-decoration: underline;
  }
  .formfield * {
    vertical-align: middle;
  }
  .number{
    margin-left: 70px;
  }
  .message_boxs
  {
    margin-left:30px;
  }
  .messages_container{
    background-color: #cccccc;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
    width: 97%;
    text-align: center;
  }
  .chat_container {
    background-color: #e5e5e5;
    padding: 15px;
    margin-top: 10px;
    margin-left: 20px;
    width: 90%;
  }
label {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: -35px;
}
.button {
  background-color:#c0c0c0;
  border: none;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.Conversation {
  font-size:0; 
  }
.buttons { 
  width:90%; 
  display:inline-block; 
}
.buttons .align-right 
{ text-align:right; 
}
.align-right a 
{ 
  font-size:16px; 
}
.mob_number {
  margin-left: 10px;
}

input[type=text], message {
  width: 86%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 20px;
  display: inline-block;
  
}
#submit_span {
  display: block;
  margin-left: 20px;
}
input[type=button] {
  background-color: #c0c0c0;
  padding: 12px 23px;
  border: none;
  cursor: pointer;
}
a {
  color: black;
}

.wrap { 
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex; 
  flex-direction: column; 
  overflow: auto;
}
 
.arrow p {
  border-radius: 5px;
  padding: 8px; 
  max-width: 70%; 
  position: relative; 
  background-color:#e5e5e5;
}
.left p 
{
  float: left; 
  margin: 8px 12px;
}
.right p 
{ 
  float: right; 
  margin: 8px 12px;
}

.day {
  color: #aaa;
}

.left p::before {
    content: ''; position: absolute;
    width: 0; height: 0; left: -8px; top: 8px;
    border-top: 4px solid transparent;
    border-right: 8px solid #e5e5e5;
    border-bottom: 4px solid transparent;
}
.right p::before {
    content: ''; position: absolute;
    width: 0; height: 0; right: -8px; bottom: 8px;
    border-top: 4px solid transparent;
    border-left: 8px solid #e5e5e5;
    border-bottom: 4px solid transparent;
}
