/* grid css */
.container {
    display: grid;
    background-color:pink;
    padding: 10px;
    /* grid-column-gap: 100px;
    grid-row-gap: 50px; */
    grid-gap: 50px 100px;
  }
  .item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid red;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  /* flex css */
.form-row {
  padding: 20px;
  display:flex;
}
.form-row label{
  padding: 7px;
}
.form-row input {
  flex:1;
}
/* side by side all child class */
.column {
  display: flex;
}
.first-column {
  flex:2;
  order:2;
}
.side-content1 {
  flex:1;
  order:1;
}
.side-content2 {
  flex:1;
  order:3;
}