p::first-letter {
  color:yellow;
  font-size: 20px;    
}
p::first-line {
  background-color: orange;
}
p::selection {
  background-color: pink;
}
/* use in forms */
::placeholder {
   color:red;
}
p:hover::after {
  content: "bye";
  background-color: green;
}
p::before {
  content: "hello";
  background-color: orangered;
  color: blue;
  margin-bottom: 20px;
}