* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 10px;
  background-color: black;
}
nav {
padding: 10px;
}
nav p {
    display: inline;
    font-size: 20px;
}
nav a {
    margin-left: 90%;
    color: black;
}
h2 {
    text-align: center;
}
.anchor {
    text-align: center;
    padding: 10px;

}
.anchor a{
    color: black;
}
  
.photo_link  a{
    margin-left: 100px;
    color: black;
  }
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
form {
    padding-bottom: 50px;
}
.form-flex {
  max-width: 800px;
  margin: 0 auto;
  background-color: #e0e0e0;
  padding: 30px;
}

.form-flex li
 {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap;
  justify-content: center;
  /*  aligns the items inside a flex container */
  align-items: center;
}
.form-flex li label
 {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
}
.form-flex > li:not(:last-child) {
  margin-bottom: 20px;
}
/* flex-grow flex-shrink flex-basis */
.form-flex > li > label 
 {
  flex: 0 0 100px;
  max-width: 220px;
}

.form-flex *
 {
  flex-grow: 1;
  /* flex: 1 0 210px; */
}

.form-flex li select,
.form-flex li textarea {
  padding: 10px;
}

.form-flex button {
  padding: 14px 16px;
  border: none;
  background: #bfbfbf;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 16px;
  
}

.flex-inner li {
  width: 100px;
}
.Conversation {
    font-size:0; 
    }
.button {
    background-color: #ddd;
    border: none;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    }
  .buttons { 
    width:88%; 
    display:inline-block;
    
  }
  .buttons .align-right 
  { text-align:right; 
  }
  .align-right a 
  { 
    font-size:16px; 
  }
  
  /* grid container */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 30px;
  background-color: white;
  padding: 10px;
  justify-content: space-evenly;

}

.outer-grid > div {

  box-shadow: 0 0px 10px 2px #ddd;
  padding: 8px;
}
.inner-grid {
  display: grid;
  justify-content: center;
}
.inner-grid > p {
  padding: 10px;
}
.inner-grid img{
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
}
.load-more-pictute {

    grid-column: 2 / span 2;
    grid-row: 4;
    text-align: center;
    background-color: #cccccc;
    padding: 15px;
}
.load-more-pictute a {
    font-size: 20px;
    color: black;
}

.sent-date {
 color:#aaa1a1;
 margin-top: -5px;
}
.photo {
    padding-top: 20px;
    font-size: 30px;
}
.flex-container a
{
  color: black;
  margin-left: -30px;

}