* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 10px;
  background-color: black;
}
nav {
padding: 10%;
}
nav p {
    display: inline;
    font-size: 20px;
}
nav a {
    margin-left: 90%;
    color: black;
}
h2 {
    text-align: center;
}
.anchor {
    text-align: center;
    padding: 10px;

}
.anchor a{
    color: black;
}
  
.photo_link  a{
    margin-left: 100px;
    color: black;
  }
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

form {
    padding-bottom: 50px;
}
.form-flex {
  max-width: 800px;
  margin: 0 auto;
  background-color: #e0e0e0;
  padding: 30px;
}

.form-flex li
 {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap;
  justify-content: center; /*  aligns the grid */
  align-items: center; /*  aligns the items inside a flex container */
}
.form-flex li label
 {
  padding: 8px;
  letter-spacing: .05em;  /* relating to font size of element */
}
.form-flex > li:not(:last-child) {
  margin-bottom: 20px;
}
/* flex-grow flex-shrink flex-basis|auto|initial|inherit; */
.form-flex > li > label 
 {
  flex: 0 0 100px;
  max-width: 220px;
}

.form-flex *
 {
  flex: 1 0 210px;   /* flex shorthand */
}

.form-flex li select,
.form-flex li textarea {
  padding: 10px;
}

.form-flex button {
  padding: 14px 16px;
  border: none;
  background: #bfbfbf;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 16px;
  
}

.flex-inner li {
  width: 100px;
}
.Conversation {
    font-size:0; 
    }
.button {
    background-color: #ddd;
    border: none;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    }
  .buttons { 
    width:88%; 
    display:inline-block;
    
  }
  .buttons .align-right 
  { text-align:right; 
  }
  .align-right a 
  { 
    font-size:16px; 
  }
  
.photo {
    padding-top: 20px;
    font-size: 30px;
}
.horizontal{
   margin-top: -15px;
}

.chat_container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  /* height: 300px;  */
  background-color:#f5f5f5;
}
.chat_container > #side-bar  {
  width: 20%;
  text-align: center;
}
#side-bar p {
  color: #c0adad;
}
.chat_container > #chat-window {
  width: 76%; 
} 
.flex-container a
{
  color: black;
  margin-left: -20px;

}