* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      margin: 0;
      min-height: 100%;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;   
      max-width: 100%;
      overflow-x: hidden;
      
  }
  .container {
    width: 100%;
    margin: 0 auto;
    
  }
.dropbtn {
    font-size: 16px;  
    border: none;
    color: white;
    padding: 0px 10px;
    background-color: inherit;

  }
.get-quote {
    font-size: 16px;  
    border: none;
    color: black;
    padding: 4px 8px;
    background-color: white;

}

/* .slider{
	margin:0 auto;
	width:100%;
} */
.img-box
{
    position: relative;
    width:100%;
}
.img-box img{
	width:100%;
}

.img-box .btn{
    position: absolute;
	border:none;
	outline:none;
	background:#65605e;
	padding:10px;
	font-size: 20px;
	color:#ddd;
    cursor: pointer;
    top: 50%;
}
.img-box .prev-btn{
    right: 95%;
}
.img-box .next-btn{
    left: 95%;
}
/* @media(max-width:786px){
    .img-box .prev-btn{
        right: 85%;
    }
    .img-box .next-btn{
        left: 85%;
    }
} */
@media(max-width:500px){
    .img-box .prev-btn{
        right: 80%;
    }
    .img-box .next-btn{
        left: 80%;
    }
}

.btn:hover{
	background: #111;
}

.project-flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-items {
    /* position: absolute; */
    background: red;
    padding: 20px;
    width: 20%;
    height: 150px;
    font-size: 1em;
    text-align: center;
  }
  a {
    color: white;
}

#split {
    background: rgb(255, 40, 58);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .contact .flex-item{
    margin: 0;
    list-style: none;
    flex: 0 1 50%;
    display: inline;
    padding-left: 1%;
  }

  @media (min-width: 550px) {
    .contact {
        flex: 0 1 60%;
    }
  }
  @media (min-width: 1300px) {
    .contact {
        flex: 0 1 75%;
    }
  }
  nav {
    flex: 0 1 100%;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (min-width: 550px) {
    nav {
        flex: 0 1 40%;
    }
    nav ul {
      justify-content: space-around;
    }
  }

  @media (min-width: 1300px) {
    nav {
        flex: 0 1 25%;
    }
  }
