* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,html {
      margin: 0;
      height: 100%;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;   
      max-width: 100%;
      overflow-x: hidden;
      
  }
  .container {
    width: 100%;
    margin: 0 auto;
    
  }
.dropbtn {
    font-size: 16px;  
    border: none;
    color: white;
    padding: 0px 10px;
    background-color: inherit;

  }
.get-quote {
    font-size: 16px;  
    border: none;
    color: black;
    padding: 4px 8px;
    background-color: white;

}

.btn{
    position: absolute;
	border:none;
	outline:none;
	background:#65605e;
	padding:10px;
	font-size: 20px;
	color:#ddd;
    cursor: pointer;
    top: 40%;
}
.bg-img {

    background-image: url("/images/website1.jpeg");
    min-height: 380px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

.prev-btn{
    right: 94.5%;
}
.next-btn{
    left: 93%;
} 
@media(max-width:500px){
    .img-box .prev-btn{
        right: 80%;
    }
    .img-box .next-btn{
        left: 80%;
    }
}

.btn:hover{
	background: #111;
}

a {
    color: white;
    text-decoration:none;
}

#split {
    background: rgb(255, 40, 58);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .contact .flex-item{
    margin: 0;
    list-style: none;
    flex: 0 1 50%;
    display: inline;
  }

  @media (min-width: 550px) {
    .contact {
        flex: 0 1 60%;
    }
  }
  @media (min-width: 1300px) {
    .contact {
        flex: 0 1 75%;
    }
  }
  nav {
    flex: 0 1 100%;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (min-width: 550px) {
    nav {
        flex: 0 1 40%;
    }
    nav ul {
      justify-content: space-around;
    }
  }

  @media (min-width: 1300px) {
    nav {
        flex: 0 1 25%;
        
    }
  }

  /* Position the navbar container inside the image */
  .topnav {
    position: absolute;
    margin-left: 50%;
    margin-top: -40%;
  }
  .content {
    position: absolute;
    text-align: center;
    color: white;
    margin-top: -18%;
    /* margin-left: 10%; */
    
  }
  /* The navbar */
  .topnav {
    overflow: hidden;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: rgb(255, 40, 58);
    
  }
  .service p,h1{
    text-align: center;
  }
  .service {
    margin-top: 6%;
    margin-bottom: 6%;
  }
.white-bar p{

    text-align: center;
}
.pro-container { 
    display: flex;
    background-color: #f1f1f1;
    flex-direction: row-reverse;
    }
.contents {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    
}
  .image .imgs{
    width: 100%;
    height: 100%;
  }
  .our-work {
    background: white;
    
  }
  .our-work p{
    color: black;
  }
  .pro-container div {
    width: 50%;
    font-size: 1vw;
    padding: .7em;
    color: white;
    /* flex: 1; */
  }
  .about-us h2,h1,p,h4{
      color: black;
  }
  .button{
    background-color: #f4655f;
    border: none;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 70%;
    margin-top: 6px;
    cursor: pointer;
  }
  .sign img{
    width: 30%;
    float: right;
  }
.sign h4, .p{
    margin-left: 69%;
}

.service-container { 
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    }
.service-container div {
    width: 40%;
    font-size: 1vw;
    padding: .7em;
    }
.service_content {
    display: flex;
    flex-direction: row;
    /* margin-top: 5%; */
    flex-wrap: wrap;
    justify-content:center;
    justify-items: center;
    
}
.service_content div {
    width: 45%;
    max-height: 100%;
    font-size: 1vw;
    padding: 2em;
    text-align: center;
    margin: 10px;
    }
.development
{
    background-color: #f4655f; 
}
.support {
    background-color:rgb(239, 239, 239)
}
.marketing{
    background-color:rgb(239, 239, 239)
}
.insurence{
    background-color:rgb(239, 239, 239)
}
.service_content h3{
    color: black;
}
h3 {
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
}
.service_content i{
    display: block;
}
h3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid black;
}
.development h3:before{
    border-bottom: 1px solid white;
}
.marketing h3:before{
    border-bottom: 1px solid gray;
}
.insurence h3:before{
    border-bottom: 1px solid lightgray;
}

.service_content .development h4{
    color: white;
    }
    .service_content .development h3{
        color: white;
        }
.image .imgss {
    width: 68%;
}

/* paralax */
.wrapper {
    height: 100vh;
    overflow-x: hidden;  /* horizontal scrollbar disable */
    overflow-y: auto;
    perspective: 2px;  
    /* How far the element is placed from the view */
  }
  .section { 
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }
  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }
  .flex-items {

    background: rgb(236, 228, 228);
    padding: 15px; 
    max-width: 20%;
    margin-top: 48%;
    font-size: 1em;
    text-align: center;
    /* position: absolute; */
    }
.flex-items i {
    font-size:24px;
    color:red;
    display: block;
    margin-bottom: 4%;
}


/* .static {
    background: white;
  } */
  .bg1::after {
    background-image: url('https://placekitten.com/g/900/700');
  }
